{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-2">
            <label for="username">Username</label>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="e.g. user123" required type="text">
        </div>
        <div class="mb-2">
            <label for="password">Password</label>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" minlength="8" placeholder="Atleast 8 characters" required type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" minlength="8" placeholder="Confirm Password" required type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
