{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-2">
            <label for="symbol">Stock Symbol</label>
        </div>
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" id="symbol" name="symbol">
                <option disabled selected>Options</option>
                {% for stock in stocks %}
                <option value="{{ stock['symbol'] }}">{{ stock["symbol"] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-2">
            <label for="shares">Shares</label>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="shares" min="1" name="shares" placeholder="e.g. 1" required type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}